


<!--<div class="example-container mat-elevation-z8">-->
  <!--<mat-table #table [dataSource]="dataSource">-->

    <!--<ng-container [matColumnCellDef]="col" *ngFor="let col of displayedColumns">-->
      <!--<mat-header-cell *matHeaderCellDef>{{col | uppercase}}</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let scorecard">{{scorecard[col]}}</mat-cell>-->
    <!--</ng-container>-->

    <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
    <!--<mat-row matRowDef="let scorecard; columns: displayedColumns"></mat-row>-->
  <!--</mat-table>-->
<!--</div>-->
