<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}
  </h1>
</div>

<!--<form>-->
  <!--<select [(value)]="selected" (change)="SingleCourse()">-->
    <!--<option *ngFor="let course of golfCourses" [value]="course.id">{{course.name}}</option>-->
  <!--</select>-->
<!--</form>-->

<mat-card>
Hello
</mat-card>

<mat-form-field>
  <mat-select [(value)]="selected" (change)="SingleCourse()">
    <mat-option *ngFor="let course of golfCourses" [value]="course.id">{{course.name}}</mat-option>
  </mat-select>
</mat-form-field>










