<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}
  </h1>
</div>



<div>
  <form *ngIf="golfCourse">
    <p>Select a course</p>
    <select [(ngModel)]="selected" (change)="SingleCourse()" name="course">
      <option>Courses...</option>
      <option *ngFor="let course of golfCourse" [value]="course.id">{{course.name}}</option>
    </select>
  </form>
  <br>
  <div *ngIf="currentCourse">{{courseName}} has {{numHoles}} holes.</div>

</div>

<div>
  <form *ngIf="currentCourse">
    <p>Select a tee type</p>
    <select [(ngModel)]="teeTypeIndex" name="tee" (ngModelChange)="setTeeType()">
      <option>tee types</option>
      <option *ngFor="let teeType of currentCourse.tee_types; let i = index" [value]="i">{{teeType.tee_type}}</option>
    </select>
  </form>
  <br>
  <div *ngIf="nextSelect">The tee you selected has {{nextSelect.yards}} yards in total</div>
</div>

<div class="container" *ngIf="nextSelect">

  <h3>Players:</h3>
  <form>
    <input type="text" placeholder="Player One" [(ngModel)]="playerOne" name="name"><br>
    <input type="text" placeholder="Player Two" [(ngModel)]="playerTwo" name="name"><br>
    <input type="text" placeholder="Player Three" [(ngModel)]="playerThree" name="name"><br>
    <input type="text" placeholder="Player Four" [(ngModel)]="playerFour" name="name">
  </form>

  <button (click)="setPlayers()">Start Golfing</button>

</div>














